.newBgRect{
        width: 100vw;
        height: 100px;
        margin: 0;
        box-sizing: border-box;
        background-color: var(--bccHeaderBackgroundColor);
        border: 5px solid black;
        z-index: 25;
        position: absolute;
        top: 0;
        left: 0;
        /* border-radius: 5px; */
    }
    .headthing{
        z-index: 27;
    }
    .fnForLogo {
        position: absolute;
        width: 115px;
        height: 30px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 2px;
        padding: 6px;
        background-color: gray;
        bottom: 0;
        right: 0;
    }
    .newLogo{
        font-family: "kamiiFonts";
        position: fixed;
        right: 0;
        bottom: 0;
        font-size: 23px;
        color: var(--bccPrimaryHeader);
        background-color: var(--bccPrimaryRect);
        border: 5px solid var(--bccSecondaryRect);
    }
  .appender {
    width: 32.333333vw;
    display: block;
    gap: 10px;
}

    .containerforhead {
        width: 650px;
        height: 100px;
    }
    @font-face {
        font-family: kamiiFonts;
        src: url(StackSansText-VariableFont_wght.ttf);
    }
    .startupSlider{
        width:200px;
        margin-top: 12px;
        background-color: rgb(0, 0, 0);
        cursor: pointer;
        accent-color: rgb(255, 255, 255);
    }
.bgRect, .bgRect2, .bgRect3 {
  height: 100dvh;
  position: absolute;
  top: 0;
  margin: 0;
  box-sizing: border-box;
}
.colorPicker{
    margin-top: 15px;
    font-family: 'kamiiFonts';
    font-weight: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 7px solid rgb(0, 0, 0);
    border-radius: 4px;
    opacity: 100;
}
.colorPicker2{
    margin-top: 15px;
    font-family: 'kamiiFonts';
    font-weight: 1px;
    color: #000000;
    background-color: #ffffff;
    border: 7px solid #ffffff;
    border-radius: 4px;
}
.bgRect {
  width: 33.333333vw;
  left: 0;
  background-color: var(--bccPrimaryRect);
  border:0.4vw solid black;
  z-index: -4;
  opacity: 0.4;
}
.modal-container{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: grid;
    place-items: center;
    height: 99vh;
    width: 100vw;
    z-index: 100;
    /* opacity: 0.5; */
}
.modal-base{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bgRect2 {
  width: 33.3333333vw;
  left: 33.33333333vw;
  background-color: var(--bccSecondaryRect);
  border: 0.4vw solid black;
  z-index: -4;
  opacity: 0.4;
}

.bgRect3 {
  width: 33.333333vw;
  left: 66.6666667vw;
  background-color: var(--bccPrimaryRect);
  border: 0.4vw solid black;
  z-index: -4;
  opacity: 0.4;
}

    h1{
        width: 670px;
        height: 150;
        font-family: "kamiiFonts", sans-serif;
        font-size: 45px;
        position: relative;
        padding-left: 0px;
    }
    html{
        /* background-color: gray; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .containerforbuttons{
        font-family: 'kamiiFonts', sans-serif;
        font-size: 45px;
        position: absolute;
        top: 100px;
        left: 0.5vw;
    }
    .buttons_zone{
        font-family: 'kamiiFonts', sans-serif;
        font-size: 45px;
        position: absolute;
        left: 33.9vw;
        top: 100px;
    }
    .dateTimeZone{
        width: 500px;
        font-family: 'kamiiFonts', sans-serif;
        font-size: 46px;
        position: absolute;
        left: 67vw;
        top: 100px;
    }
    .dateTimeZoneUpdater{
        font-family: 'kamiiFonts', sans-serif;
        font-size: 65px;
        font-weight: bolder;
        position: absolute;
    }
    .funAddition{
        font-family: 'kamiiFonts', sans-serif;
        font-size: 45px;
        position: absolute;
        left: 800px;
        top: 24px;
    }
    .classButton{
        font-size: 1rem;
        background-color: var(--bccButtonPrimary);
         color: var(--bccButtonSecondary);
          padding: 10px 20px; 
         border: none;
         border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Changes cursor to a hand on hover */
          font-size: 16px; /* Text size */
          font-family: 'kamiiFonts'; /* Font style */
          transition: background-color 0.3s ease; /* Smooth transition on hover */
          margin-top: 12px;
    }
    .classButtonAlign{
        position: relative;
        font-size: 1rem;
          background-color: var(--bccButtonPrimary); /* Green background */
          color: var(--bccButtonSecondary); /* White text */
          padding: 10px 20px; /* Spacing inside the button */
          border: none; /* No border */
          border-radius: 5px; /* Rounded corners */
          cursor: pointer; /* Changes cursor to a hand on hover */
          font-size: 16px; /* Text size */
          font-family: 'kamiiFonts'; /* Font style */
          transition: background-color 0.3s ease; /* Smooth transition on hover */
          margin-top: 5px;
          margin-left: 5px;
          z-index: 250;
    }
    .classButtonAlign2{
        position: relative;
        font-size: 1rem;
        background-color: var(--bccButtonSecondary); /* Green background */
         color: var(--bccButtonPrimary); /* White text */
          padding: 10px 20px; /* Spacing inside the button */
         border: none; /* No border */
         border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Changes cursor to a hand on hover */
          font-size: 16px; /* Text size */
          font-family: 'kamiiFonts'; /* Font style */
          transition: background-color 0.3s ease; /* Smooth transition on hover */
          margin-top: 5px;
          margin-left: 5px;
          z-index: 250;
    }
.INVISIBLE {
    font-size: 0;
    line-height: 0;
    height: 5px;
    visibility: hidden;
}
    .divider{
        font-family: 'kamiiFonts', sans-serif;
        font-size: 50px;
        color: var(--bccPrimaryHeader);
    }
     .classButton2{
        font-size: 1rem;
        background-color: var(--bccButtonSecondary); /* Green background */
         color: var(--bccButtonPrimary); /* White text */
          padding: 10px 20px; /* Spacing inside the button */
         border: none; /* No border */
         border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Changes cursor to a hand on hover */
          font-size: 16px; /* Text size */
          font-family: 'kamiiFonts'; /* Font style */
          transition: background-color 0.3s ease; /* Smooth transition on hover */
    }
    .inputClass{
        background-color: var(--bccButtonPrimary); /* Green background */
         color: var(--bccButtonSecondary); /* White text */
          padding: 10px 20px; /* Spacing inside the button */
         border: 5x; /* No border */
         border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Changes cursor to a hand on hover */
          font-size: 16px; /* Text size */
          font-family: 'kamiiFonts'; /* Font style */
          transition: background-color 0.3s ease; /* Smooth transition on hover */
    }
    .inputClass2{
        background-color: var(--bccButtonSecondary); /* Green background */
         color: var(--bccButtonPrimary); /* White text */
          padding: 10px 20px; /* Spacing inside the button */
         border: 5x; /* No border */
         border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Changes cursor to a hand on hover */
          font-size: 16px; /* Text size */
          font-family: 'kamiiFonts'; /* Font style */
          transition: background-color 0.3s ease; /* Smooth transition on hover */
    }
    .basicBodyText{
          padding: 10px 20px; /* Spacing inside the button */
         border: 5x; /* No border */
         border-radius: 5px; /* Rounded corners */
          font-size: 16px; /* Text size */
          font-family: 'kamiiFonts'; /* Font style */
          transition: background-color 0.3s ease; /* Smooth transition on hover */
    }
    .d{
        width: 500px;
    }
.classButtonAlign,
.classButtonAlign2 {
    margin: 0;
}
#appendingDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
